* {
  font: normal 16px sans-serif;
  color: #424242;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(1, 1fr);
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 10% 1fr 1fr 10%;
}

.row_item {
  display: flex;
  align-items: center;
  padding: 2px 5px;
}

.header {
  background-color: gainsboro;
}

.answers {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.answer {
  width: 100%;
  padding: 3px 0;
}

.header {
  text-align: center;
}

.checker  {
  text-align: center;
}

.table-container {
  height: 70vh;
  overflow: scroll;
}

.btn {
  padding: 15px 30px;
  cursor: pointer;
  font: normal 18px sans-serif;
  outline: none;
  margin-top: 20px;
}

.btn:hover {
  background-color: #ff9e9e;
}

.btn-red {
  background-color: #ff8d8d;
}

.create-survey {
  max-width: 1366px;
  margin: 0 auto;
}